.bs-docs-sidebar .nav>li>div>a {
    color: inherit;
} 

/* sidebar */
.bs-docs-sidebar {
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>div {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>div {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    font-size: 12px;
    white-space: nowrap;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>div, 
.bs-docs-sidebar .nav>li>div:hover, 
.bs-docs-sidebar .nav>li>div:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}

/* all active links */
.bs-docs-sidebar .nav>.active>div, 
.bs-docs-sidebar .nav>.active:hover>div,
.bs-docs-sidebar .nav>.active:focus>div {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav>.active>div, 
.bs-docs-sidebar .nav .nav>.active:hover>div,
.bs-docs-sidebar .nav .nav>.active:focus>div {
    font-weight: 500;
    text-decoration: none;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav >.active>ul.nav {
    display: block;           
}

/* Icons befor element */
.bs-docs-sidebar .nav .nav>li>div>span {
    display:none;
}

.bs-docs-sidebar .nav .nav>li>div:hover>span,
.bs-docs-sidebar .nav .nav>li.active>div:focus>span {
    display:inline;
}

.bs-docs-sidebar .nav .nav>li>div>span:hover {
    color: green;
}

.bs-docs-sidebar .nav .nav>li>div>span.focused:hover {
    color: red;
    cursor: pointer;
}

.bs-docs-sidebar .nav .nav>li>div>span.focused {
    display:inline;
    color: green;
}
